<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.entfrm.biz.extension.mapper.FormDefinitionJsonMapper">

    <select id="getMaxVersion" resultType="Integer" >
        SELECT IFNULL(MAX(a.version),0) as maxVersion FROM act_extension_form_def_json a where  a.form_definition_id = #{formDefinitionId}
    </select>

</mapper>
