<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.entfrm.biz.flowable.mapper.FormDefinitionMapper">

	<select id="findList" resultType="com.entfrm.biz.flowable.vo.FormDefinitionVo" >
		SELECT
		a.id AS "formDefinition.id",
		a.create_by AS "formDefinition.createBy",
		a.create_time AS "formDefinition.createTime",
		a.update_by AS "formDefinition.updateBy",
		a.update_time AS "formDefinition.updateTime",
		a.remarks AS "formDefinition.remarks",
		a.del_flag AS "formDefinition.delFlag",
		a.category_id AS "formDefinition.categoryId",
		a.name AS "formDefinition.name",
		b.id AS "formCategory.id",
		b.create_by AS "formCategory.createBy",
		b.create_time AS "formCategory.createTime",
		b.update_by AS "formCategory.updateBy",
		b.update_time AS "formCategory.updateTime",
		b.remarks AS "formCategory.remarks",
		b.del_flag AS "formCategory.delFlag",
		b.parent_id AS "formCategory.parentId",
		b.name AS "formCategory.name",
		b.sort AS "formCategory.sort",
		c.id AS "formDefinitionDesignData.id",
		c.create_by AS "formDefinitionDesignData.createBy",
		c.create_time AS "formDefinitionDesignData.createTime",
		c.update_by AS "formDefinitionDesignData.updateBy",
		c.update_time AS "formDefinitionDesignData.updateTime",
		c.form_definition_id AS "formDefinitionDesignData.formDefinitionId",
		c.json AS "formDefinitionDesignData.json",
		c.version AS "formDefinitionDesignData.version",
		c.status AS "formDefinitionDesignData.status",
		c.is_primary AS "formDefinitionDesignData.isPrimary"
		FROM
		act_extension_form_def a
		LEFT JOIN act_extension_form_category b ON b.id = a.category_id
		LEFT JOIN act_extension_form_def_design_data c ON c.form_definition_id = a.id
		<where>
			a.del_flag = '0'
			AND ( c.is_primary = '1' or c.is_primary is null)
			<if test="formDefinitionVo.formDefinition != null and formDefinitionVo.formDefinition.name != null and formDefinitionVo.formDefinition.name != ''">
				AND a.name = #{formDefinitionVo.formDefinition.name}
			</if>
			<if test="formDefinitionVo.formDefinitionDesignData != null and formDefinitionVo.formDefinitionDesignData.status != null and formDefinitionVo.formDefinitionDesignData.status != ''">
				AND c.status = #{formDefinitionVo.formDefinitionDesignData.status}
			</if>
		</where>
	</select>

</mapper>
